

div.create-block {
    height: 30%;
    width: 100%;
}

.chatname-input {
    width: 40%;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
}

div.chosen-users {
    height: 30px;
    background-color: white;
    border-radius: 10px;
    margin: 15px 0 10px 0;
}

.users-select {
    width: 42%;
    padding-left: 10px;
    margin-bottom: 20px;
}